/*CONTEÚDO PRINCIPAL DA CONFIGURAÇÕES*/
.configuracoes-container {
  background-color: var(--bg-principal);
  color: var(--texto-cor);
  padding: 2rem;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h2 { 
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/*CARDS*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.descricao {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: 0.5rem;
}

/*LINHAS E INPUTS*/
.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

select {
  background-color: var(--input-bg);
  color: var(--texto-cor);
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-off);
  border-radius: 34px;
  transition: 0.3s;
}
.card-armazenamento:hover {
  border: 2px solid var(--btn-bg);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(25, 118, 210, 0.3);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: var(--btn-bg);
}
input:checked + .slider:before {
  transform: translateX(20px);
}

/*BARRA DE PROGRESSO */
.barra {
  width: 100%;
  height: 8px;
  background-color: #444;
  border-radius: 5px;
  margin-top: 8px;
}
.progresso {
  height: 100%;
  background-color: var(--btn-bg);
  border-radius: 5px;
  transition: width 0.3s ease;
}

/*BOTÃO PRINCIPAL*/
.salvar-tudo {
  margin-top: 2rem;
  width: 15%;
  background-color: var(--btn-bg);
  color: white;
  display: flex;
  justify-self: end;
  justify-content: center;
  padding: 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.salvar-tudo:hover {
  background-color: var(--btn-hover-bg);
}

.testar-som{
  background-color: var(--btn-bg);
  padding: 0.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
}
